body{ 
    color: black;
    background: rgb(175, 4, 4);
    margin: 0px;
    font-family: "Merriweather", serif;
    margin-bottom: 100px;
}

header {

    border-bottom: solid 2px darkred;
    padding: 20px;
    font-size: 72px;
    color: rgb(0, 0, 0);
}


.chamada {

    background: rgb(75, 1, 1);
    padding-bottom: 70px;
    padding-top: 30px;
    display: flex;
    justify-content: center ;
}

.texto-principal {

    margin-right: 15%;
}
h1{
  font-size: 50px;  
}
p{

    font-size: 15px;
}

img {
 height: 200px;

}

.categoria-filmes {
   display: flex; 
   overflow-x: auto;
   gap: 10px;
}

.categoria{

    padding-left:20px ;
    padding-right: 10px; ;
    margin-top: 50px;
}

.categoria-filmes img {

    opacity: 0.5;
}

.categoria-filmes img:hover {

opacity: 1.0;
border: 1px solid green;
}

.categoria h2 {

    color: darkgreen;
}